  <% if current_page?("/") %>
  <% else %>
  <div class="navbar">
    <li><%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://cdn2.iconfinder.com/data/icons/bubble-milk-tea/500/bubble-tea-drink_17-512.png" %>
      <% end %>
    </li>
    <li>
      <% if current_user %>
      <% if policy(Shake).create? %>
      <%= link_to "New recipe", new_shake_path %>
      <% end %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "Sign in", new_user_session_path  %>
      <% end %>
    </li>
  </div>
  <% end %>



